<ion-view view-title="Accueil" class="acceuil" >
<ion-side-menus-content enable-menu-with-back-views="false" >
   <ion-content class="background" overflow-scroll="true" padding="true" class="has-header">
	<br>
	<div class="introbg">
   <h1><center>Bienvenue dans Fredi<center></h1><br><br>
	
	<center><h3> Bonjour {{itemsDataLogin.Nom}} {{itemsDataLogin.Prenom}} vous êtes maintenant connecté</h3><center><br>
	<center><h3>Vous pouvez lire, ajouter, modifier et supprimer vos notes de frais<br><br>ou<br><br>vous pouvez gérer vos adherents</h3></center>
	</div>
   
  </ion-content>
  </ion-side-menus-content>
</ion-view>
  
