<!-- <ion-side-menus enable-menu-with-back-views="false"></ion-side-menus> -->
<ion-view view-title="Licences"  cache-view="false" >

   <ion-content class="background" overflow-scroll="true" padding="true" class="has-header">
	 <div class="im-wrapper">
            <h4 class="no-border no-padding-bottom">Licences</h4>
			<a ui-sref="app.ajouterLicence" class="button button-positive button-block  icon-left ion-android-add-circle" >Ajouter une licence</a>
<ion-scroll class="col scroll-col">
	<ion-list  show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
	
  <ion-item  class="item-thumbnail-center" >	
		<div class="row" >
          <!--<div class="col"><center>Numéro de la licence</center></div>-->
          <div class="col"><center>Nom<center></div>
          <div class="col"><center>Prénom<center></div>
          <!--<div class="col"><center>Date de naissance<center></div>-->
          <div class="col"><center>Club<center></div>
    </div>

  </ion-item>
</ion-list> 
	
	<ion-list  show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
	
  <ion-item ng-repeat="item in itemsLicence" class="item-thumbnail-left" ng-click="show2(item, $index)">
  
    <div class="row">
      <!--<div class="col"><center>{{item.numLicence}}<center></div>-->
      <div class="col"><center>{{item.Nom}}<center></div>
      <div class="col"><center>{{item.Prenom}}<center></div>
      <!--<div class="col"><center>{{item.dateNaissance}}<center></div>-->
      <div class="col"><center>{{item.lib_club}}<center></div>
    </div>
  </ion-item>
  
  
  
</ion-list> 

</ion-scroll>
	
  </ion-content>
</ion-view>
